/*Main css Start*/
html, body { 
    overflow-x: hidden !important; 
    max-width: 100% !important;
    width: 100%;
} /*Denne koden er for å unngå mellomrom på mobil. Høyre side*/
body {  
    font-family: 'open sans', 'sans-serif' !important;
    background: url(../images/carb_back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html {
    position: relative !important; /*Disse gjør at footeren forholder seg fixed i bunn*/
    min-height: 100% !important;
}
.bgtext {
    background-color: #fff;
}
.copyright {
    margin-top: 10px;
    display: block;
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.copyright > p {
    color: #fff !important;
    font-size: 0.6em;
    text-decoration-color: none !important;
    letter-spacing: 1px;
}
.textcolor, h1, h2, h3, h4, h5, p, a {
    color: #fff !important;
    
}
.navbar-fixed-bottom {
    position: absolute !important;
    bottom: 0 !important;
    max-width: 100%;
}
.jumbotron {
    background-color:transparent !important; 
}
.cartoffel .btn {
    text-decoration-style: none !important;
    letter-spacing: 1px;
    font-weight: 100;
}
.cartoffel ul a {
    color: #555 !important;
}
li {
    list-style-type: none;
    border-left: 0 !important;
}
.btn {
    background-color: rgba(240, 240, 240, 0.88) !important;
    width: 160px !important;
    border-radius: 0px !important;
    border-color: transparent!important;
    margin-bottom: 3px !important;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:hover
{
  background-color: #f0f0f0 !important;
}

.dancutbilde {
    position: absolute;
    bottom: 0 !important;
    right: 0px;
}
.dancutbilde img {
    width: 160px;
    margin-right: 30px;
}

/*Banner*/
/* The ribbons */
.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 25px;
  left: -50px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}